.container
  / 親要素
  = render "layouts/side_bar"

  .main--content
    .main--content__header
      .header-container
        .header-container__title
          = @group.name
        .header-container__name
          Menber:
          - @group.users.each do |user|
            =user.name
      =link_to edit_group_path(@group) do
        .edit Edit
        
    .messages
      =render @messages
    .bottom_content
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: '  type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit', method: "post"
